.about-wrapper {
	position: relative;
	overflow: hidden;
	padding-top: 65px;
}

.about-wrapper:after {
	position: absolute;
	right: -170px;
	top: 60px;
	content: "";
	width: 612px;
	height: 518px;
	display: block;
	background-image: url("../img/illustrations/shape-3.svg");
	background-repeat: no-repeat;
	background-position: right top;	
	z-index: -1;
}

.about-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@media (min-width: 1140px) {
		flex-direction: row;
	}
}

.about-cards {
	width: 488px;
	padding-left: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	order: 2;
	
	@media (min-width: 600px) {
		flex-direction: row;
		order: 1;
	}

	@media (min-width: 1140px) {
		padding-left: 0;
	}
}

.cards-1-column {
	
	@media (min-width: 890px) and (max-width: 1140px) {
		display: flex;
	}
}

.cards-1-column .card {
	
	@media (min-width: 890px) and (max-width: 1140px) {
		margin-right: 60px;
	}
}

.cards-2-column {
	padding-top: 0px;
	
	@media (min-width: 600px) {
		padding-top: 150px;
		padding-left: 60px;
	}

	@media (min-width: 1140px) {
		padding-left: 0;
	}

	@media (min-width: 890px) and (max-width: 1140px) {
		padding-top: 0;
		padding-left: 0;
	}
}

.about-content {
	color: #0d3e60;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.6;
	order: 1;
	margin-bottom: 50px;

	@media (min-width: 1140px) {
		width: 555px;
		font-size: 22px;
		order: 2;
		margin-bottom: 0;
	}
}

.about-content p {
	margin-bottom: 36px;
}

.about__toggle-wrapper {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;

	@media (min-width: 1140px) {
		flex-direction: row;
		margin-bottom: 90px;
	}
}

a.about__toggle, 
.about__toggle {
	height: 46px;
	border-radius: 20px;
	background-color: #fff9df;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	color: #2e435e;
	font-size: 14px;
	font-weight: 400;
	line-height: 46px;
	cursor: pointer;
	transition: 0.2s ease-in;
	text-decoration: none;

	@media (min-width: 1140px) {
		margin-bottom: 0;
	}

	&:hover {
		background-color: #ff8f36;
		color: #fff;
	}
}

.about-content__box {
	display: none;
}

.about-content__box:first-child {
	display: block;
}