/* line 1, _header.less */
.header {
  width: 100%;
  padding-top: 92px;
  padding-bottom: 410px;
  background-image: url(../img/illustrations/illustration-header.png), -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(#fff9df));
  background-image: url(../img/illustrations/illustration-header.png), linear-gradient(to top, #ffffff 0%, #fff9df 100%);
  background-repeat: no-repeat;
  background-position: center bottom, top left;
  background-size: 100% auto;
}
/* line 13, _header.less */
.logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 23px;
}
/* line 20, _header.less */
.promises-counter {
  color: #0d3e60;
}
/* line 24, _header.less */
.promises-counter__icon {
  margin-bottom: 8px;
}
/* line 28, _header.less */
.promises-counter__number {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 4px;
}
/* line 35, _header.less */
.promises-counter__desc {
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
}
/* line 41, _header.less */
.header-content {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* line 48, _header.less */
.header__icon-mail {
  margin-bottom: 30px;
}
/* line 52, _header.less */
.header__invite {
  color: #eb5238;
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 21px;
}
/* line 60, _header.less */
.header__title {
  height: 82px;
  color: #0d3e60;
  font-size: 38px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 36px;
}
/* line 69, _header.less */
.header-names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/* line 80, _header.less */
.header-names-left {
  text-align: right;
}
/* line 84, _header.less */
.header-names-button {
  position: relative;
  width: 91px;
  height: 91px;
  margin-left: 37px;
  margin-right: 37px;
  background-color: #ed543a;
  border-radius: 60px;
  background-image: url("../img/icons/icon-heart.svg");
  background-repeat: no-repeat;
  background-position: center;
}
/* line 96, _header.less */
.header-names-button:after {
  position: absolute;
  bottom: 15px;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
  content: '+';
  display: block;
  width: 37px;
  height: 37px;
  background-color: #ffcc36;
  border-radius: 20px;
  color: #ffffff;
  font-size: 30px;
  font-weight: 300;
  line-height: 37px;
  text-align: center;
}
/* line 115, _header.less */
.header-names-right {
  text-align: left;
}
/* line 119, _header.less */
.header-names__name {
  color: #eb5238;
  font-size: 22px;
  font-weight: 700;
  line-height: 40px;
}
/* line 126, _header.less */
.header-names__email {
  color: #0d3e60;
  font-size: 16px;
  font-weight: 700;
  line-height: 36px;
}
/* line 133, _header.less */
.scroll__desc {
  color: #0d3e60;
  font-size: 16px;
  font-weight: 300;
  line-height: 24.06px;
  text-align: center;
  margin-bottom: 16px;
}
/* line 142, _header.less */
.scroll-bg {
  position: relative;
  max-width: 750px;
  height: 122px;
  background-color: #fff9df;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 155, _header.less */
.scroll-bg:before {
  position: absolute;
  left: -23px;
  top: -28px;
  display: block;
  content: "";
  width: 57px;
  height: 174px;
  background-image: url("../img/header/left-scroll.svg");
  background-repeat: no-repeat;
  background-position: center;
}
/* line 168, _header.less */
.scroll-bg:after {
  position: absolute;
  right: -23px;
  top: -28px;
  display: block;
  content: "";
  width: 57px;
  height: 174px;
  background-image: url("../img/header/right-scroll.svg");
  background-repeat: no-repeat;
  background-position: center;
}
/* line 182, _header.less */
.scroll__title {
  color: #8d8b80;
  font-size: 18px;
  font-weight: 500;
  line-height: 24.06px;
}
/* line 1, _utils.less */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/* line 5, _utils.less */
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
/* line 11, _utils.less */
.container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
/*# sourceMappingURL=main.css.map */